<div class="wrapper">

  <footer class="site-footer">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div>
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
        <li><a href='{{ site.baseurl }}/'>Home</a></li>
        <li><a href='{{ site.baseurl }}/tutorial/creating-an-application'>Documentation</a></li>
        <li><a href='{{ site.baseurl }}/help'>Issues</a></li>
        <li><a href='{{ site.baseurl }}/help'>Support</a></li>
        <li><a href='{{ site.baseurl }}/help'>Mailing List</a></li>
        <li><a href='{{ site.baseurl }}/about/contact'>Contact Us</a></li>
        <li><a href='{{ site.baseurl }}/about/contribute'>Contribute</a></li>
        <li><a href='{{ site.baseurl }}/about/about-us'>About</a></li>
      </ul>
    </div>

    <div>
      <p>{{ site.description }}</p>
    </div>

  </footer>

</div>
